body {  
    background: black !important;  
    color: white !important;  
}  
  
h1 {  
    color: red !important;  
    font-size: 60px !important;  
}  
  
nav {  
    background: blue !important;  
}